@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;

}

.btn {
    width: auto;
    height: 30px;
    background-color: #1ca452;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logo {
    height: 180px;
    width: auto;
    margin-bottom: 40px;
}

/*Login*/
.login-info {
    margin-top: 20px;
}

.login-label {
    text-transform: uppercase;
    color: #1ca452;
    letter-spacing: 5px;
}

.login-input {
    margin-top: 10px;
    width: 100%;
    border: none;
    border-bottom: #1ca452 solid 1px;
    color: #1ca452;
    text-align: center;
}

.login-input:focus {
    outline: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-content: center;
    width: 200px;

}

.login-btn {
    margin-top: 30px ;
}

/*shop*/
.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #1ca452;
    color: white;
}

.header-btn {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-input {
    width: 600px;
    margin-right: 30px;
    border: none;
    border-bottom: #1ca452 solid 1px;
    color: #1ca452;
    font-size: 32px;
}

.search-input:focus {
outline: none;
}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    align-content: center;
    justify-content: center;

}

.product {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.greet {
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #dc882e;
}
.logout-btn {
    margin-right: 20px;
}

.logout-btn:hover {
    background-color: #1ca452;
    text-decoration: underline;
}

.artist {
    color: #1ca452;
    font-weight: bold;
}

.title {
    color: grey;
}

.price {
    font-size: 18px;
    color: #1ca452;
}

